.notesView {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('../../assets/backgroundNotes.jpeg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  
  
}

.nameContainer {
    display:flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: rgba(109, 66, 15, 0.536);
    border: 3px solid rgb(254, 239, 179);
    font-family: 'TAHU!';
    color: white;
    font-size: 40px;
    padding-bottom: 0px;
    justify-content: space-around;
    align-items: center;
}

.logOut{
    background-color: transparent;
    z-index: 1;
}

.menuContainer {
    display: flex;
    align-content: flex-end;
    height: 100px;
    width: 100%;
    background-color: rgba(109, 67, 15, 0.327);
    border: 3px solid rgb(254, 239, 179);
    position: fixed;
    bottom:0;
    justify-content: center;
    align-items: center;
}

.addNote{
    background-color: transparent;
    z-index: 1;
    filter: invert(100%);
}