.notesContainer{
    display:flex;
    flex-direction: column;
}

.littleNote{
    height: 200px;
    width:200px;
    background-color: rgb(4, 108, 104);
    font-family: 'BETTER TOGETHER SPACED';
    color: white;
    font-size: 30px;
    
}
