.auth-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.lumineTitle {
    font-family: 'THE CALIFORNICATION';
    color: white;
    font-size: 150px;
    text-shadow: 3px 8px 10px rgb(237, 209, 86);
    margin-bottom: 0px;
}

.sloganContainer{
    margin-top: -60px;
    
}
.slogan {
    font-family: 'BETTER TOGETHER SPACED';
    color: white;
    font-size: 52px ;
}

.loginContainer{
margin-top: 15%;
}

.loginWith {
    font-family: 'COFFEE LATTE';
    color: white;
    font-size: 30px;
    text-align: center;
}

.btnGoogle {
    margin-top:5px;
    height: 60px;
    width: 400px;
    border-radius: 15px;
    background-color: rgba(93, 60, 6, 0.621);
    border: 3px solid rgb(254, 239, 179);
    overflow: hidden;
    transition: 0.2s;
    font-family: 'BETTER TOGETHER SPACED';
    color: bisque;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    line-height: 30px;
    
}

.btnGoogle:hover {
    box-shadow: 0 0 25px rgb(254, 239, 179);
}

.footerLogin {
    display: flex;
    align-content: flex-end;
    height: 100px;
    width: 100%;
    background-color: rgba(109, 67, 15, 0.327);
    border: 3px solid rgb(254, 239, 179);
    position: fixed;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    bottom: 0;
}